
<head>
<link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'> 

</head>
<form class="myForm" style="position:relative; left: 30% ; align-content:center; top:300px" method="post" action="">
    {% csrf_token %}
      <h1>Are you sure you want to delete?</h1><br>
      <input  style="position:relative; left: 15% ; width:100px" class="btn btn-danger" type="submit" value="Yes" />
      <a style="position:relative; left: 15%; width:100px " href="/list_invoice"><div class="btn btn-primary">Cancel</div></a>
 </form>