{% load static %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>List of Invoices</title>
</head>
<body>
	{% include 'navbar.html' %} <br>
	{{title}}
  <ul class="messages success">
    {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
	<form method='POST' action=''>{% csrf_token %}
    {{form|crispy}}
        <input type="submit" value='Search'/>
</form>
<br>
	<br>
	<table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>DATE</th>
            <th>CUSTOMER NAME</th>
            <th>INVOICE NUMBER</th>
            <th>AMOUNT</th>
            <th>DELETE<th>
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.invoice_date}}</td>
            <td><a href="{% url 'update_invoice' instance.id %}">{{instance.name}}</a></td>
            <td>{{instance.invoice_number}}</td>
            <td>{{instance.total}}</td>
            <td><a href="{% url 'delete_invoice' instance.id %}"><i class="material-icons">delete</i></a></td>
          </tr>
      {% endfor %}
    </table>
   
	

</body>
</html>